
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!DOCTYPE html>
<html>
<head>
    <style>
        .section {
            width: 50%;
            height: 100vh;
            float: left;
        }

        .section-left {
            background-color: white;
        }

        .section-right {
            background-color: white;
        }

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

            .image-container img {
                max-width: 100%;
                max-height: 100%;
            }
    </style>
</head>
<body>
    <div>
        <marquee>
            <h1><b>Welcome To Our Job Portal Ltd</b></h1>
        </marquee>
    </div>
    <div class="background-container section section-right">
        <h1 style="color:darkcyan;font-size:250%; text-align:center;padding-top:100px;font-weight:bold;">ASP.NET MVC5 Mid Monthly Exam</h1>
        <h3 style="color:black;font-size:150%; text-align:center;">This Project Created By</h3>
        <h3 style="color: black; font-size: 200%; text-align: center;">Muhammed Selim</h3>
        <h3 style="color: black; font-size: 130%; text-align: center;">Batch ID: CS/ACSL-M/56/01</h3>
        <h3 style="color: black; font-size: 120%; text-align: center;">ID:1279790</h3>
    </div>
    <div class="section section-left image-container">
        <img src="~/Pictures/Selim.jpg.jpg">
    </div>
</body>
</html>
