
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-12">
        
        <div id="form-div">
            @Html.Action("EditForm", new { id = ViewBag.Id })

        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function onSuccess() {
            $("#frm").trigger("reset");
        }
    </script>

}


